<h1>FEED</h1>

<h3>Friends</h3>
<% @relationships.each do |relationship| %>
    <ul>
        <li><%= relationship.followed_id %></li>
    </ul>
<% end %>

<h3>Follow</h3>

<% @users.each do |user| %>
    <p><a href="/users/<%= user.id %>"><%= user.full_name %></a> 
    <% if current_user != user %>
        <% if current_user and !current_user.following.include?(user) %>
            (<a href="/follow/<%= user.id %>">follow</a>)
        <% else %>
            (<a href="/unfollow/<%= user.id %>">unfollow</a>)
        <% end %>
    <% end %>
    </p>
<% end %>


<p>
<% @posts.each do |post| %>
     <h3><%= post.title %></h3>
     <p><%= post.body %></p>
     <p><%= post.user.full_name if post.user %></p>
     <hr>
 <% end %>
</p>