<!-- create feed *** leah this is just a rough draft don't panic  *****-->

<h1>FEED</h1>


<p>
<a href= "/friends">Friends</a>
<a href= "/follow">Follow</a>
</p>

<h1>Listing Users</h1>
<% @users.each do |user| %>
	<p><a href="/users/<%= user.id %>"><%= user.fname %></a> 
	<% if current_user and current_user != user %>
		<% if current_user and !current_user.following.include?(user) %>
			(<a href="/follow/<%= user.id %>">follow</a>)
		<% else %>
			(<a href="/unfollow/<%= user.id %>">unfollow</a>)
		<% end %>
	<% end %>
	</p>
<% end %>

 
<% @posts.each do |post| %>
    <h2><%= post.user ? post.user.fname : "Fix me in the Database!" %> <%= post.user.lname if post.user%></h2>
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <p><%= post.user.fname if post.user %></p>
    <hr>
<% end %>
</p>