
<H1><strong>YOUR PROFILE</strong></H1>
<h2><%= @user.fname %></h2>
<h2><%= @user.lname %></h2>
<h2><%= @user.phone %></h2>
<h2><%= @user.email %></h2>
<h2><%= @user.username %></h2>
<h2><%= @user.password%></h2>  
<h2><%= @user.posts %></h2>





	<!-- t.string :fname
  		t.string :lname
  		t.string :phone
  		t.string :email
  		t.string :username
  		t.string :password -->
