<div id="showProfile">
	<h1><%= @user.full_name if @user %></h1>

	<% @user.profile.each do |profile| %>
	<h2>Profile</h2>
		<p>Age: <%= profile.age %></p>
	    <p>City: <%= profile.city %></p>
	    <p>Occupation: <%= profile.occupation %></p>
	<% end %>

	<h2>Friends</h2>
	<ol>
	<% @user.following.each do |user| %>
	    <li><%= user.fname %></li>
	<% end %>
	</ol>
</div>