<h1>Hello <%= @user.fname if @user %></h1>

<!-- clock js/jquery-->
<!-- weather -->

<!-- text area/box -->
<form>
	<label for="post">Make a Post</label><br>
	<textarea type="text" name="post"></textarea>
	<br>
	<br>
	<input type="submit" value="Post">
</form>

<!-- 10 recent posts of logged in user -->


<h2><%= @post.user.fname %> <%= post.user.lname %></h2>
     <h3><%= post.title %></h3>
     <p><%= post.body %></p>
     <p><%= post.user.fname %></p>
     <hr>
